.mlinkContentWork {
    width: 100%;
    max-width: 699px;
    margin: 0 auto;
    margin-top: 1.25rem;
    border-top: 1px solid #eeeeee;
    padding-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.45rem;
}

.mlinkContentWork > .mlinkContentSectionWork {
    color: #1f1d1d;
    text-align: left;
    font-family: "Inclusive Sans", sans-serif;
}

.mlinkContentWork > .mlinkContentSectionWork > .mlinkContentSectionTitle {
    font-weight: var(--wg-default-medium);
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.mlinkContentWork > .mlinkContentSectionWork > .mlinkContentSectionParagraph {
    font-weight: 400;
    text-align: left;
}
